<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />

		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link
			rel="icon"
			type="image/png"
			sizes="32x32"
			href="/favicon-32x32.png"
		/>
		<link
			rel="icon"
			type="image/png"
			sizes="16x16"
			href="/favicon-16x16.png"
		/>
		<title>That page doesn't exist | Quoter</title>
	</head>
	<body class="mx-auto max-w-7xl px-4 2xl:px-0 bg-blue-300">
		<h1 class="font-semibold text-3xl text-center mt-12">
			404: That page doesn't exist.
		</h1>
		<p class="text-center mt-4">
			<a
				href="/"
				class="bg-slate-900 hover:opacity-80 transition ease-in-out text-white font-bold py-2 px-4 rounded-md text-lg mx-auto mb-20"
			>
				<span class="drop-shadow-lg">Go home</span>
			</a>
		</p>
	</body>
</html>
