---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout
	title="That page doesn't exist | Quoter"
	class="mx-auto max-w-7xl px-4 2xl:px-0 bg-blue-300"
>
	<h1 class="font-semibold text-3xl text-center mt-12">
		404: That page doesn't exist.
	</h1>
	<p class="text-center mt-4">
		<a
			href="/"
			class="bg-slate-900 hover:opacity-80 transition ease-in-out text-white font-bold py-2 px-4 rounded-md text-lg mx-auto mb-20"
		>
			<span class="drop-shadow-lg">Go home</span>
		</a>
	</p>
</BaseLayout>
