<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<title>{Astro.props.frontmatter.title} | Quoter</title>
	</head>
	<body
		class="px-4 2xl:px-0 py-4 bg-slate-900 prose md:prose-lg prose-invert mx-auto"
	>
		<a href="/">&larr; Go home</a>
		<slot />
	</body>
</html>
